.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 180px;
  z-index: 50;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
  background-image: url(./summit-banner-image.jpg);
  background-position: 50% 30%;
  justify-content: space-between;
}

.button-panel {
    position: absolute;
    top: 10px;
    left: 90%;
}


h1 {
  color: white!important;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}
